/* ESTILO FOOTER */

.footer {
  border-top: 5px solid gold;
  text-align: center;
  background-color: rgb(240, 237, 237);
}

ul li {
  list-style: none;
}


.footerContenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.footer h3 {
font-size: 1.5rem;
  margin-bottom: 5px;
}

.divRedesSociales i {

  font-size: 1.5rem;
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;  
}


.divRedesSociales ul li {
  display: inline-block;

} 

.divFooterAyuda ul {
padding: 0px;
margin: 5px 0;
}


.divFooterAyuda li:hover {
  color: gold;
}


/* redes sociales */