// MIXIN  //

@mixin estiloTitulos {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 50px;
}

@mixin precios {
  font-weight: bold;
  color: goldenrod;
}

@mixin anclas {
  text-decoration: none;
  color: black;
}

/* Home */

/* Banner home */

.carousel {
  margin-top: 135px;
}

.tituloH1 {
  background-color: $colorSpoiler;
  @extend .estiloTitulos;
}


.textoCentral {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  max-width: 50%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}


/* Categorias */

.contenedorSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.contenedorLomasvendido {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
}


.contenedorCategorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.contenedorCategorias:hover {
  height: 350px;
  width: 350px;
}

.contenedorCategoriasVendido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.categoriasImg {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: contain;
  cursor: pointer;
}



.categoriasP {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.precios {
  @include precios;
}

/* DESAYUNOS Y MERIENDAS */

.sectionH2 {
  background-color: $colorSpoiler ;
  @include estiloTitulos;

}

.sectionH3 {
  background-color: $colorCategoriasPromo;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

/* ALMUERZO Y CENAS */

.divAlmuerzo {
  background-color: $colorSpoiler;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 50px;
  margin-top: 135px;
}

.divTumomento {
  background-color: $colorSpoiler;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

/* iframe */

iframe {
  display: block;
  margin: auto;
}

/* Estilo Tiendas*/

.tituloTiendas {
  @extend .estiloTitulosContacto;
  background-color: $titulosContacto;

}

.divLocales {
  border: 2px solid black;
  text-align: center;
  margin: 20px;
  padding: 10px 20px;
}

span {
  font-weight: bold;
  font-size: 20px;
}

.divTiendas {
  background-color: rgb(217, 247, 237);
  border-top: 10px solid gold;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.divPickup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
}


.parrafoTiendas {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.olPickup {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  list-style: none;
}

.ulPickup {
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
  list-style: none;
}

/* Estilo Formulario */

.divTituloFormulario {
  @extend .estiloTitulosContacto;
  background-color: $titulosContacto;
  text-transform: uppercase;
  margin-top: 130px;
}

.divFormulario {
  width: 30vw;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 3px solid black;
  margin: 40px;
  padding: 0px;
}

.tituloFormulario {
  text-align: center;
  background-color: $titulosContacto;
  padding: 10px;
}

.tituloFormulario h2 {
  text-transform: uppercase;
  font-weight: bolder;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


label {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 10px;
  margin-bottom: 10px;
}



.olvido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}

.boton {
  background-color: gold;
  border: none;
  padding: 10px 60px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%
}

/* ESTILO NUESTRA APP */

.divApp {
  @extend .estiloTitulosContacto;
  background-color: $titulosContacto;
  border-bottom: 5px solid gray;
  margin: 20px;
}

.Whastapp {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}